.profile {
    width: 400px;
    max-width: 500px;
    margin: 2em auto 1rem;
    padding: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
}

.profile h3 {
    font-weight: bold;
}

.profile img {
    width: 7em;
    height: 7em;
    margin: auto;
    display: block;
}

.flex {
    display: flex;
}

.flex p:first-child {
    width: 33%;
    text-align: left;
    margin: .5em;
    font-style: normal;

}

.flex p:last-child {
    width: 33%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
    font-style: normal;
}

.profile button {
    color: white;
    border: none;
    border-radius: 1.5em;
    padding: 0.6em 1.2em;
    outline: none;
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
}

.flex > input, .flex > div {
    width: 55%;
    text-align: center;
    margin: .5em;
    border-radius: 1em;
}

.flex > div > input {
    text-align: center;
    width: 100%;
    border-radius: 1em;
}

.flex select {
    padding: 0.17em 0;
}

.red-button {
    background-color: red;
}

.green-button {
    background-color: green;
}

.input-error {
    border-left: 3px solid red;
}