.edit-object-border {
    width: 500px;
    margin: 55px auto;
    padding: 1.1em;
    background-color: whitesmoke;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 32px;
    border: .1em solid rgb(255, 255, 255);
}

.edit-object-title input {
    margin-bottom: 10px;
    width: 55%;
    border-radius: 20px;
    padding: 0.35em;
}

.edit-object-title label {
    float: left;
    width: 120px;
    padding-left: 30px;
    padding-right: 10px;
}

.edit-object-content textarea {
    width: 90%;
    margin: 0;
    border-radius: 20px;
    padding: 8px;

}