.welcome {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    font-size: 15px;
    margin-top: 2em;
}

.welcome h3 {
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
    border-style: solid;
    border-color: white;
    border-radius: 1.5em;
    width: 100%;
    padding: 0.5em 1em;
    color: white;
}

.welcome p {
    padding: 4em;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-style: normal;
    font-size: 25px;
    color: white;
}

.welcome a {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 1.5em;
    padding: 0.8em 4.5em;
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
}

.welcome a:hover {
    cursor: pointer;
    color: rgb(201, 201, 201);
    text-decoration: underline;
}

.welcome ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 1em;
}

.welcome li {
    list-style: none;
}