footer {
    background: rgb(0, 212, 255);
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* max-width: 1366px; */
    max-width: 1920px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: center;
    color: white;
    font-style: normal;
}

footer span {
    font-size: 1em;
    color: white;
    font-weight: normal;
}

footer span a {
    color: rgb(248, 228, 7);
}

footer span a:hover {
    color: rgb(194, 100, 63);
}