.objectItem {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 55px auto;
    padding: 1.1em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 32px;
    border: .1em solid rgb(255, 255, 255);
    color: whitesmoke;
}

.sections {
    display: block;
    text-align: center;
}

.sections:first-child {
    margin-bottom: 20px;
}

.sections h2 {
    font-size: 32px;
    margin: 10px 0;
    color: #238be6;
}

/* buttons */

a+a {
    margin-left: 16px;
}

.sections a {
    background: linear-gradient(0deg, rgb(12, 0, 182) 0%, rgb(99, 169, 200) 35%, rgb(1, 17, 20) 100%);
    padding: 0.4em 1.5em;
    border: 1px solid white;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

.sections a:hover {
    color: yellow;
    font-weight: bold;
    cursor: pointer;
}

/* header if not logged user */
.trackers {
    color: white;
    font-weight: bold;
    padding: 1.5em;
    box-shadow: 0 0 3em 0 rgb(255, 255, 255);
    border-radius: 1.5em;
    border: .1em solid rgb(255, 255, 255);
    text-align: center;
    margin: 20px auto 20px auto;
    width: 800px;
}

/* empty div */
.empty {
    border: 0.5px solid whitesmoke;
    font-weight: bold;
    text-decoration: underline dotted aqua;
    color: aqua;
}

#objects-page h1{
    color: whitesmoke;
    font-size: 32px;
}

.no-objects{
    color: whitesmoke;
    font-size: 32px;
    margin: 140px auto;
    text-decoration: underline;
}